const R = require('ramda')

const initEnvVariable = (_default,k)=>
  process.env[k] = R.defaultTo(_default, process.env[k])

R.mapObjIndexed(initEnvVariable, {
  api_key: "",
  db_host: "",
  db_name: '',
  db_user: "",
  db_password: ""
});



